/* עיצוב הרקע של האזור שבתוך ה-iframe */
.field_group_body {
    background-color: lightyellow !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

/* עיצוב הכפתורים */
button, 
input[type="submit"] {
    background-color: brown !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

/* עיצוב שדות הטופס */
input[type="text"],
input[type="email"],
textarea,
select {
    background-color: yellow !important;
    color: black !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
    margin: 10px 0 !important;
    border-radius: 3px !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

/* עיצוב התוויות */
label {
    display: block !important;
    margin: 10px 0 5px !important;
    color: #fff !important;
}

/* עיצוב הרקע עבור האלמנט הספציפי */
.field.select-list.fld_2022 {
    background-color: lightyellow !important;
}
